<div ng-controller="participantController">
<div class='centerAlignContainter'>
 <button type="button" class="btn btn-primary centerButton"> Create Event </button>
 <button type="button" class="btn btn-success centerButton"> Contribute to Event </button>
</div>
</div>
