<div ng-controller="participantController">
<div class='centerAlignContainter'>
 <a href="#/newEvent" class="btn btn-primary centerButton"> Create Event </a>
 <a href="#/participate" class="btn btn-success centerButton"> Contribute to Event </a>
</div>
</div>
