<!DOCTYPE html>
<html ng-app='meetingApp'>
<head>
  <title>Party on my mind</title>
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="headerText">
  	<span class='alert alert-warning'> Perpetuate your memories... </span>
  </div>

  <div ng-view class="viewanimate">
  	
  </div>

  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= filepicker_js_include_tag %>
</body>
</htm