<!DOCTYPE html>
<html ng-app='meetingApp'>
<head>
  <title>Mckinsey</title>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1> Meeting Manager</h1>
  <div ng-view class="viewanimate"></div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</htm