<div class='centerAlignContainter' ng-controller="participantController">
	<button type="button" id="userUpload" class="btn btn-success centerButton" ng-click="uploadToCloud()">Upload Image</button>
</div>