<div ng-controller="userinputController">
	<video id="video"></video>
	<button id="startbutton">Take photo</button>
	<canvas id="canvas"></canvas>
	<img src="http://placekitten.com/g/320/261" id="photo" alt="photo">
</div>

<a href="#/"> feedbacks </a>
