.headerText{
	width: 300px;
	margin: auto;
	padding: 10px;
	text-align: center;
}

.centerAlignContainter{
	width: 400px;
	text-align: center;
	margin: auto;
	padding: 3em;
}
.centerButton{
	margin: 1em;
	padding: 1em;
}
.viewanimate.ng-enter,
.viewanimate.ng-leave {
  -webkit-transition:0.2s linear all;
  transition:0.2s linear all;
}

.viewanimate.ng-enter,
.viewanimate.ng-leave.ng-leave-active {
  opacity:0;
}
.viewanimate.ng-leave,
.viewanimate.ng-enter.ng-enter-active {
  opacity:0.5;
}